* {
    margin: 0;
    padding: 0;
    
}

#banner {
    background-image: linear-gradient(rgba(0,0,0,0.5), #101010), url(./backgroundd.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner-text {
    position: absolute;
    top: 13%;
    left: 13%;
    color: #808080;
    padding-top: 180px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 300;
}
.banner-btns {
    position: absolute;
    top: 110%;
    left: 40%;
}
.banner-text a {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 40px;
    font-family: sans-serif;
    padding: 10px;
    border: solid 1px #808080;
    border-radius: 50px;
    color: #808080;
    text-transform: uppercase;
}
#sideNav {
    width: 190px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: opacity:0;
    z-index: 2;
    transition: 0.5s;
}
nav ul li {
    list-style: none;
    margin: 50px 20px;
}
nav ul li a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: medium;
    color: #A8A8A8;
}
#MenuBtn {
    width: 30px;
    height: 30px;
    background: opacity:0;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#MenuBtn img {
    width: 20px;
    margin-top: 15px;
}
.logo {
	position : absolute;
	top : 3%;
	left : 1.8%;
	height : 75px;
	width : auto;
	border-radius : 50%;
	opacity : 0.6;
	image-shadow : 1px 1px #000;
}
.banner-btns a:hover {
    transition: background-color 0.7s linear;
    background-color: #fd5800;
    color: #000;
}
h1 span {
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}
@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 30px;
    }
}

.section-one {
	background-color : #101010;
	padding : 30px;
}

.pictures {
	display : flex;
	width : 100%;
}
.pictures img {
	background : #888888;
	height : 230px;
	width : auto;
	border-radius : 50%;
	margin : 50px 30px;
	transform : scale(1.15);
	opacity : 0.5;
	transition : transform 0.7s , opacity 0.7s;
	border-image : 2px solid transparent;
}
.pictures img:hover {
	opacity : 1;
	transform : scale(1.03);
}
.quote {
	color : #888888;
	text-align : center;
	font-size : 350%;
	font-weight : 300;
	margin-top : 40px;	
}

@media screen and max-width(770px) {
    .pictures {
        flex-basis: 100%;
    }
    .pictures img {
        height: 120px;
        width: 100%;
        background: #888888;
    }
} 
.title-text h1,h2 {
    font-size: 40px;
    margin: 45px 0 15px 650px;
    color: #101010;
    font-family: sans-serif;
    font-weight: 300;
}
.title-text h2 {
    margin-bottom: 40px;
    margin-left: 685px;
}
.title-text h1 {
    margin-left: 700px;
}
.title-text2 h1,h2{
    font-size: 40px;
    margin: 0px 0 15px 650px;
    color: #101010;
    font-family: sans-serif;
    font-weight: 300;
}
.title-text2 h1 {
    margin: 0 0 15px 780px;
}
#testimonial {
    width: 100%;
    padding: 70px 0;
}
.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 3px #808080;
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial-col:hover {
    transform: translateY(7px);
}

.testimonial-col p {
    font-size: 14px;
}
.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info small {
    color: #009688;
}
#footer {
    padding: 10px 0 20px;
    background: #efefef;
}
.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left, .footer-right {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}
.footer-row h1 {
    margin: 10px 0;
}
.footer-row p {
    line-height: 35px;
}





